#title {
    color: black;
    text-decoration: wavy;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body
{background-image: url(/home/martin/repos/odin-recipes/images/kitchenpic.jpg);
background-repeat: no-repeat;
background-size: cover;
}

body
{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
color: black;
font-size: x-large;
}




