#title
{
    color: black;
    text-decoration: wavy;
}





ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body
{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;
color: plum;
font-size: x-large;
}




